/* Output */
.strength { background-image: url('./../image/icon-strength.png') no-repeat 0 0; }
.buddha { background-image: url('./../image/icon-buddha.png') no-repeat 0 0; }
.sleep { background-image: url('./../image/icon-sleep.png') no-repeat 0 0; }
.bao { background-image: url('./../image/icon-bao.png') no-repeat 0 0; }
