/* Output */
.fb { background-image: url('./../image/icon-fb.png') no-repeat 0 0; }
.twitter { background-image: url('./../image/icon-twitter.png') no-repeat 0 0; }
.ig { background-image: url('./../image/icon-ig.png') no-repeat 0 0; }
.g-plus { background-image: url('./../image/icon-g-plus.png') no-repeat 0 0; }
