/* Output */
.description { background-image: url('./../image/title_description.png') no-repeat 0 0; }
.team { background-image: url('./../image/title_team.png') no-repeat 0 0; }
.schedule { background-image: url('./../image/title_schedule.png') no-repeat 0 0; }
.history { background-image: url('./../image/title_history.png') no-repeat 0 0; }
.judge { background-image: url('./../image/title_judge.png') no-repeat 0 0; }
.subscribe { background-image: url('./../image/title_subscribe.png') no-repeat 0 0; }
